@import './../../assets/fonts/font.scss';

h1 {
    color: $colorBlack;
    font-size: clamp(1.75rem, 0.0087rem + 9.9502vw, 8rem);
    font-weight: 800;
    width: 100%;
    max-width: 1920px;
    text-align: center;
}

h2 {
    color: $colorGreen;
    font-size: clamp(1rem, 0.4428rem + 3.1841vw, 3rem);
    font-weight: 700;
    margin-right: 25px;
    white-space: nowrap;
}

a {
    font-size: clamp(1.125rem, 0.9792rem + 0.8333vw, 1.375rem);
    font-weight: 300;
    text-decoration: none;
    transform: rotate(270deg);
    color: $colorBlack;
    position: relative;
    left: -85px;
    cursor: pointer;
}

section {
    height: calc(100vh - 92px);
    width: 100%;
    max-width: 1920px;
    background-color: $colorCream;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero {
        height: 561px;
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        >div:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1920px;
        }

        >div:nth-child(2) {
            width: 100%;
            max-width: 1920px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.cutLine {
    border: 2px solid $colorBlack;
    width: 100%;
    margin-left: 25px;
}

.mid-part {
    max-width: 1019px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    gap: 6px;
    height: 230px;
    max-width: 116px;
    width: 100%;

    >div {
        >img {
            animation: arrowAnimation 1.5s ease-in-out infinite;
        }
    }

    >span {
        width: 100%;
        font-size: clamp(1.125rem, 0.9792rem + 0.8333vw, 1.375rem);
        font-weight: 300;
        z-index: 1;
        background-color: $colorCream;
        text-align: center;
    }
}

@keyframes arrowAnimation {
    0% {
        height: 0;
        transform: translateY(-100%);
    }

    100% {
        height: 100%;
        transform: translateY(200%);
    }
}

@media screen and (min-width: 280px) and (max-width: 450px) {
    a {
        left: -50px;
    }

    .bottom-part {
        max-width: 80px;
        width: 100%;
    }

    .mid-part {
        gap: 16px;
    }
}