@import './../../assets/fonts/font.scss';

h1 {
    color: $colorBlack;
    font-size: 128px;
    font-weight: 800;
    width: 100%;
    max-width: 1920px;
    text-align: center;
}

h2 {
    color: $colorGreen;
    font-size: 48px;
    font-weight: 700;
}

a {
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    transform: rotate(270deg);
    color: $colorBlack;
    position: relative;
    left: -85px;
    cursor: pointer;
}

section {
    height: calc(100vh - 92px);
    width: 100%;
    max-width: 1920px;
    background-color: $colorCream;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero {
        height: 561px;
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        >div:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1920px;
        }

        >div:nth-child(2) {
            width: 100%;
            max-width: 1920px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.mid-part {
    max-width: 1019px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    >span {
        border: 2px solid $colorBlack;
        max-width: 675px;
        min-width: 250px;
        width: 100%;
    }
}

.bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    gap: 6px;
    height: 230px;
    max-width: 116px;
    width: 100%;

    >div {
        >img {
            animation: arrowAnimation 1.5s ease-in-out infinite;
        }
    }

    >span {
        width: 100%;
        font-size: 22px;
        font-weight: 300;
        z-index: 1;
        background-color: $colorCream;
        text-align: center;
    }
}

@keyframes arrowAnimation {
    0% {
        height: 0;
        transform: translateY(-100%);
    }

    100% {
        height: 100%;
        transform: translateY(200%);
    }
}


//Tablet
@media screen and (min-width: 760px) and (max-width: 1285px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 32px;
    }

    .mid-part {
        >span {
            max-width: 425px;
        }
    }

}


//Smartphone
@media screen and (min-width: 450px) and (max-width: 760px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 23px;
    }

    .mid-part {
        >span {
            max-width: 180px;
            min-width: 100px;
        }
    }
}


@media screen and (min-width: 280px) and (max-width: 450px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 16px;
    }

    .mid-part {
        >span {
            max-width: 100px;
            min-width: 80px;
        }
    }

    a {
        font-size: 18px;
        left: -78px;
    }

    .bottom-part {
        max-width: 80px;
        width: 100%;

        >span {
            font-size: 18px;
        }
    }
}