<app-header></app-header>
<section class="padding">
    <div class="hero">
        <div>
            <h1 class="font-syne">Frontend</h1>
            <h1 class="font-syne">Developer</h1>
            <div class="mid-part">
                <span></span>
                <h2 class="font-overpass">Florian Zunke</h2>
            </div>
        </div>
        <div>
            <a class="font-overpass" href="#contact">florianzunke&#64;gmx.de</a>
            <div class="bottom-part">
                <div>
                    <img src="assets/icons/Arrow_down.png" alt="">
                </div>
                <span class="font-overpass">Scroll <br> Down</span>
            </div>
        </div>
    </div>
</section>