<section class="padding">
    <h1 class="font-syne">{{ 'references.headline' | translate }}</h1>
    <p class="font-overpass padding">{{ 'references.sub-headline-one' | translate }} <br> {{ 'references.sub-headline-two' | translate }}
    </p>
    <div class="card-wrapper card">
        @for (card of referenceDatas(); track card.id) {
            <section class="single-card ">
                <div>
                    <div class="quote"></div>
                    <h2 class="font-syne">{{ card.name }}</h2>
                    <h3 class="font-overpass">{{ card.position }}</h3>
                </div>
                <span class="font-overpass">{{ card.comment }}</span>
            </section>
        }
    </div>
</section>
<div class="arrow-position-container padding">
    <img src="assets/icons/Arrow_left.png" alt="" [ngClass]="{ 'hovered': hovered }" (mouseover)="onHover()">
</div>