<section class="padding">
    <div>
        <div class="about-me-container">
            <h1 class="font-syne">About me</h1>
            <p class="info-about-me font-overpass">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia cum, odio consectetur vel
                distinctio
                natus similique reiciendis? Corrupti asperiores voluptatem deleniti reiciendis dolorem, id fugiat.
                Doloremque minus ex amet ducimus.
            </p>
            <div class="work-location-info">
                <div>
                    <img src="assets/icons/house.png" alt="">
                    <span class="font-overpass">Based in Treuenbrietzen</span>
                </div>
                <div>
                    <img src="assets/icons/laptop.png" alt="">
                    <span class="font-overpass">Open to work Remote</span>
                </div>
            </div>
        </div>
        <div class="button-position-container">
            <a href="#contact"><button class="font-overpass">Let's talk</button></a>
        </div>
    </div>
    <div class="foto-container">
        <img src="assets/img/Foto.jpeg" alt="Mein Foto">
    </div>
</section>
<div class="arrow-position-container padding">
    <img src="assets/icons/Arrow_left.png" alt="">
</div>