@import './../../assets/fonts/font.scss';
@import '../../styles.scss';

h1 {
    font-size: clamp(1.75rem, 0.0087rem + 9.9502vw, 8rem);
    font-weight: 800;
    padding-bottom: 48px;
    color: $colorBlack;

    &:hover {
        color: $colorGreen;
    }
}

span {
    font-size: clamp(1rem, 0.8955rem + 0.597vw, 1.375rem);
    font-weight: 400;
}

p {
    font-size: clamp(1rem, 0.8955rem + 0.597vw, 1.375rem);
    font-weight: 400;
}

section {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;

    >div {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
}

.foto-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    >img {
        height: 533px;
        width: 533px;
        object-fit: cover;
    }

    >.border-hover {
        position: absolute;
        bottom: -20px;
        left: 20px;
        height: 533px;
        width: 533px;
    }

    &:hover {
        >.border-hover {
            border: 4px solid $colorBlack;
            bottom: -20px;
            left: 20px;
        }
    }
}

.about-me-container {
    max-width: 619px;
    width: 100%;
    height: auto;
    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.arrow-position-container {
    width: 100%;
    max-width: 1920px;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: flex-end;

    >img {
        transform: translateX(45px) translateY(-45px);
    
        &.hovered {
            transition: transform 0,25s ease-in-out;
            transform: translateX(0) translateY(0);
        }
    }
}

.hovered {
    transition: transform 0,25s ease-in-out;
    transform: translateX(0) translateY(0);
}

.button-position-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.work-location-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    >div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.info-about-me {
    max-width: 610px;
    width: 100%;
}

@keyframes mobileColorChange {
    0% {
        color: $colorCream;
    }

    100% {
        color: $colorGreen;
    }
}

@media screen and (min-width: 900px) and (max-width: 1285px) {
    .foto-container {
        >img {
            height: 400px;
            width: 400px;
        }

        >.border-hover {
            height: 400px;
            width: 400px;
        }
    }
}

@media screen and (min-width: 710px) and (max-width: 900px) {
    section {
        height: auto;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
        }
    }

    .foto-container {

        padding-top: 16px;
        width: 400px;

        >img {
            height: 400px;
            width: 400px;
        }

        >.border-hover {
            height: 400px;
            width: 400px;
            left: 20px;

            &:hover {
                >.border-hover {
                    left: 20px;
                }
            }
        }
    }

    .info-about-me {
        max-width: 900px;
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 710px) {

    section {
        height: auto;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
        }
    }

    .foto-container {
        padding-top: 16px;
        width: 350px;

        >img {
            height: 350px;
            width: 350px;
        }

        >.border-hover {
            height: 350px;
            width: 350px;
        }

        &:hover {
            >.border-hover {
                left: 20px;
            }
        }
    }

    .info-about-me {
        max-width: 355px;
        width: 100%;
    }
}

@media screen and (min-width: 280px) and (max-width: 500px) {
    .foto-container {
        padding-top: 16px;
        margin-top: 16px;
        >img {
            height: 250px;
            width: 250px;
        }

        >.border-hover {
            height: 250px;
            width: 250px;
            bottom: -10px;
            left: 15px;
        }

        &:hover {
            >.border-hover {
                border: 4px solid $colorBlack;
                bottom: -10px;
                left: 15px;
            }
        }
    }

    section {
        height: auto;
        align-items: center;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
        }
    }

    .info-about-me {
        max-width: 255px;
        width: 100%;
    }
}