<section  class="padding">
    <h1 class="font-syne">{{ 'about-me.headline' | translate }}</h1>
    <div>
        <div class="about-me-container">
            <p class="info-about-me font-overpass">
                {{ 'about-me.about-me-text' | translate }}
            </p>
            <div class="work-location-info">
                <div>
                    <img src="assets/icons/house.png" alt="">
                    <span class="font-overpass">{{ 'about-me.based' | translate }}</span>
                </div>
                <div>
                    <img src="assets/icons/laptop.png" alt="">
                    <span class="font-overpass">{{ 'about-me.remote' | translate }}</span>
                </div>
            </div>
            <div class="button-position-container">
                <a href="#contact"><button class="font-overpass">{{ 'about-me.button' | translate }}</button></a>
            </div>
        </div>
        <div class="foto-container">
            <img src="assets/img/Foto.jpeg" alt="Mein Foto">
            <div class="border-hover"></div>
        </div>
    </div>
</section>
<div class="arrow-position-container padding">
    <img src="assets/icons/Arrow_left.png" alt="">
</div>