@import '../../../../assets/fonts/font.scss';


section {
    height: 460px;
    max-width: 1239px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    >div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 620px;
    }

    >div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

h1 {
    font-size: 48px;
    font-weight: 700;
}