<div *ngIf="overlayService.overlayVisible$ | async" class="menu-container">
        <app-header></app-header>
        <main class="dropMenu">

                <div class="drop-element">
                        <div class="border-hover"></div>
                        <a class="font-syne" [routerLink]="['/']" fragment="about_me"
                                (click)="navigateToSection('about_me')">
                                {{ 'drop-menu.link-1' | translate }}
                        </a>
                </div>
                <div class="drop-element">
                        <div class="border-hover"></div>
                        <a class="font-syne" [routerLink]="['/']" fragment="skills"
                                (click)="navigateToSection('skills')">{{ 'drop-menu.link-2' | translate }}</a>
                </div>
                <div class="drop-element">
                        <div class="border-hover"></div>
                        <a class="font-syne" [routerLink]="['/']" fragment="projects"
                                (click)="navigateToSection('projects')">{{ 'drop-menu.link-3' | translate }}</a>
                </div>
        </main>
        <footer class="padding">
                <div>
                        <h1 class="font-syne">Say Hi!</h1>
                        <span class="font-overpass"> &copy;Florian Zunke 2024</span>
                </div>
                <div>
                        <a target="_blank" href="https://github.com/FlorianZunke"><img class="link_img"
                                        src="assets/icons/GitHub-Default.png" alt=""></a>
                        <a target="_blank" href=""><img class="link_img" src="assets/icons/Email-Default.png"
                                        alt=""></a>
                        <a target="_blank" href="https://www.linkedin.com/feed/"><img class="link_img"
                                        src="assets/icons/LinkedIn-Default.png" alt=""></a>
                </div>
        </footer>
</div>

<!--                  -->