@import '../../../../assets/fonts/font.scss';

.dropMenu {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    >div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 155.25px;
        max-width: 580px;
        width: 100%;

        >.border-hover {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border-left: 4px solid $colorBlack;
            border-bottom: 4px solid $colorBlack;
            overflow: hidden;

        }

        &:hover {
            .border-hover {
                animation: menuHover 0.2s ease-in-out;
                height: 0;
                left: 100px;
                width: 250px;
                transform: translateX(230px);
            }
        }
    }
}

a {
    font-size: clamp(2rem, -0.383rem + 13.617vw, 6rem);
    font-weight: 700;
    color: $colorBlack;
    text-decoration: none;

    &:hover {
        cursor: pointer;

        .link_img{
            cursor: pointer;
            animation: scaleUp 0.25s forwards;
            transform: translateY(-25px);
        }
    }
}

h1 {
    font-size: clamp(2rem, 0.069rem + 11.0345vw, 6rem);
    font-weight: 800;
}

footer {
    background-image: url('../../../../assets/icons/Rectangle_drop_menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width: 100%;
    max-width: 1920px;
    color: $colorCream;
    display: flex;
    justify-content: space-between;

    >div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        >span {
            font-size: clamp(1rem, 0.7394rem + 1.4894vw, 1.4375rem);
            font-weight: 300;
            padding-bottom: 16px;
        }
    }

    >div:nth-child(2) {
        display: flex;
        align-items: flex-end;
        gap: 42px;
    }
}

.trigger {
    cursor: pointer;
}

.overlay {
    height: 100vh;
    max-width: 1920px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

@keyframes menuHover {
    0% {
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        transform: translateX(0);
    }

    2% {
        height: 0;
        transform: translateX(0);
    }

    11% {
        height: 0;
        left: 0;
        width: 540px;
    }

    100% {
        left: 100px;
        height: 0;
        width: 250px;
        transform: translateX(230px);
    }
}

@keyframes scaleUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-15px);
    }
}
