@import './../../assets/fonts/font.scss';
@import '../../styles.scss';

h1 {
    font-size: 78px;
    font-weight: 800;
    color: $colorBlack;
    padding-bottom: 35px;

    &:hover {
        color: $colorGreen;
    }
}

h2 {
    font-size: 45px;
    font-weight: 800;
}

h3 {
    font-size: 23px;
    font-weight: 400;
    color: $colorGreen;
}

p {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

span {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

section {
    height: auto;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {

    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-top: 118px;
    padding-bottom: 118px;
}

.project {
    height: 460px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 64px;

    &:hover {

        >div {
            >.border-hover {
                border: 4px solid $colorBlack;
                bottom: -20px;
                left: 20px;
            }
        }

        .project-hover {
            animation: slideText 0.35s ease-in-out;
            opacity: 1;
        }

        img {
            opacity: 1;
            mix-blend-mode: unset;
        }

        .hover-Arrow {
            animation: rotateArrow 0.25s ease-in-out;
        }
    }
}

.project-hover-position {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.project-hover {
    display: flex;
    flex-direction: column;
    padding-bottom: 85px;
    padding-left: 35px;
    gap: 15px;
    opacity: 0;

    >p {
        text-align: left;
    }
}

.span-position {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 84px;
}

.border-hover {
    position: absolute;
    height: 393px;
    width: 100%;

    >img {
        position: absolute;
        top: 175px;
        right: -39px;
        opacity: 0;
    }
}

.position-relative {
    position: relative;

    >img {
        mix-blend-mode: luminosity;
    }
}

@keyframes rotateArrow {
    0% {
        scale: 0.5;
        rotate: 130deg;
    }

    100% {
        scale: 1;
        rotate: 0deg;
    }
}

@keyframes slideText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}