@import './../../assets/fonts/font.scss';
@import '../../styles.scss';

h1 {
    font-size: 78px;
    font-weight: 800;
    color: $colorBlack;
    padding-bottom: 35px;

    &:hover {
        color: $colorGreen;
    }
}

h2 {
    font-size: 45px;
    font-weight: 800;
}

h3 {
    font-size: 23px;
    font-weight: 400;
    color: $colorGreen;
}

p {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

span {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

section {
    height: auto;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-top: 118px;
    padding-bottom: 118px;
}

.project {
    height: 460px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 64px;

    .span-position {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 84px;
    }

    &:hover {
        >div {
            >.border-hover {
                border: 4px solid $colorBlack;
                bottom: -20px;
                left: 20px;
            }
        }

        .project-hover {
            animation: slideText 0.35s ease-in-out;
            opacity: 1;
        }

        img {
            opacity: 1;
            mix-blend-mode: unset;
        }

        .hover-Arrow {
            animation: rotateArrow 0.25s ease-in-out;
        }
    }

    &.reverse {
        flex-direction: row-reverse;

        .span-position {
            justify-content: flex-start;
        }

        >div {
            >.border-hover {
                left: auto;
                right: 20px;

                >img {
                    left: -39px;
                }
            }
        }

        &:hover {
            >div {
                >.border-hover {
                    right: 20px;
                    left: auto;

                    >img {
                        left: -39px;
                    }
                }
            }

            .project-hover {
                animation: slideTextReverse 0.35s ease-in-out;
                opacity: 1;
            }

            .hover-Arrow {
                animation: rotateArrowReverse 0.25s ease-in-out;
                scale: 1;
                rotate: 270deg;
            }
        }
    }
}

.project-hover-position {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.project-hover {
    display: flex;
    flex-direction: column;
    padding-bottom: 85px;
    padding-left: 35px;
    gap: 15px;
    opacity: 0;
    max-width: 620px;
    width: 100%;

    >p {
        text-align: left;
    }
}

.border-hover {
    position: absolute;
    height: 393px;
    width: 100%;

    >img {
        position: absolute;
        top: 175px;
        right: -39px;
        opacity: 0;
    }
}

.position-relative {
    position: relative;

    >img {
        mix-blend-mode: luminosity;
    }
}

// Animationen
@keyframes rotateArrow {
    0% {
        scale: 0.5;
        rotate: 130deg;
    }

    100% {
        scale: 1;
        rotate: 0deg;
    }
}

@keyframes rotateArrowReverse {
    0% {
        scale: 0.5;
        rotate: 90deg;
    }

    100% {
        scale: 1;
        rotate: 270deg;
    }
}

@keyframes rotateArrowMobile {
    0% {
        scale: 0.5;
        rotate: 0deg;
    }

    100% {
        scale: 1;
        rotate: 137deg;
    }
}

@keyframes slideText {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTextReverse {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTextMobile {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


// Media Queries
@media screen and (min-width: 730px) and (max-width: 1250px) {
    .project {
        height: auto;
        flex-direction: column;

        >div {
            >.border-hover {
                left: 20px;

                >img {
                    top: 347px;
                    right: 250px;
                }
            }
        }

        &:hover {
            .hover-Arrow {
                animation: rotateArrowMobile 0.25s ease-in-out;
                scale: 1;
                rotate: 137deg;
            }

            .project-hover {
                animation: slideTextMobile 0.35s ease-in-out;
                opacity: 1;
            }
        }

        &.reverse {
            flex-direction: column;

            .span-position {
                justify-content: flex-end;
            }

            >div {
                >.border-hover {
                    left: 20px;

                    >img {
                        top: 347px;
                        left: 250px;
                    }
                }
            }

            &:hover {
                .hover-Arrow {
                    animation: rotateArrowMobile 0.25s ease-in-out;
                    scale: 1;
                    rotate: 137deg;
                }

                .project-hover {
                    animation: slideTextMobile 0.35s ease-in-out;
                    opacity: 1;
                }

                >div {
                    >.border-hover {
                        left: 20px;

                        >img {
                            top: 347px;
                            left: 250px;
                        }
                    }
                }
            }
        }
    }

    main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 500px) and (max-width: 730px) {

    .border-hover {
        height: 225px;

        >img {
            top: 175px;
            right: -39px;
            height: 50px;
            width: 50px;
        }
    }

    .position-relative {
        >img {
            height: 225px;
            width: 300px;
        }
    }

    .project-hover {
        padding-bottom: 0;
        padding-left: 0;
    }

    .project-hover-position {
        height: auto;
        gap: 0;
    }

    .project {
        height: auto;
        flex-direction: column;

        .span-position {
            height: auto;
        }

        >div {
            >.border-hover {
                left: 20px;

                >img {
                    top: 193px;
                    right: 112px;
                }
            }
        }

        &:hover {
            .hover-Arrow {
                animation: rotateArrowMobile 0.25s ease-in-out;
                scale: 1;
                rotate: 137deg;
            }

            .project-hover {
                animation: slideTextMobile 0.35s ease-in-out;
                opacity: 1;
            }
        }

        &.reverse {
            flex-direction: column;

            .span-position {
                justify-content: flex-end;
            }

            >div {
                >.border-hover {
                    left: 20px;

                    >img {
                        top: 193px;
                        left: 112px;
                    }
                }
            }

            &:hover {
                .hover-Arrow {
                    animation: rotateArrowMobile 0.25s ease-in-out;
                    scale: 1;
                    rotate: 137deg;
                }

                .project-hover {
                    animation: slideTextMobile 0.35s ease-in-out;
                    opacity: 1;
                }

                >div {
                    >.border-hover {
                        left: 20px;

                        >img {
                            top: 193px;
                            left: 112px;
                        }
                    }
                }
            }
        }
    }

    span {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    h1 {
        font-size: 48px;
    }

    span {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (min-width: 280px) and (max-width: 500px) {
    h1 {
        font-size: 32px;
        padding-bottom: 16px;
    }

    section {
        padding-bottom: 32px;
    }

    span {
        font-size: 23px;
    }

    p {
        font-size: 16px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }

    .project-hover {
        padding-bottom: 0;
        padding-left: 0;
    }

    .project-hover-position {
        height: auto;
        gap: 0;
    }

    .border-hover {
        height: 125px;

        >img {
            top: 175px;
            right: -39px;
            height: 37px;
            width: 37px;
        }
    }

    .position-relative {
        >img {
            height: 125px;
            width: 240px;
        }
    }

    .project {
        height: auto;
        flex-direction: column;

        .span-position {
            height: auto;
        }

        >div {
            >.border-hover {
                left: 20px;

                >img {
                    top: 101px;
                    right: 95px;
                }
            }
        }

        &:hover {
            .hover-Arrow {
                animation: rotateArrowMobile 0.25s ease-in-out;
                scale: 1;
                rotate: 137deg;
            }

            .project-hover {
                animation: slideTextMobile 0.35s ease-in-out;
                opacity: 1;
            }
        }

        &.reverse {
            flex-direction: column;

            .span-position {
                justify-content: flex-end;
            }

            >div {
                >.border-hover {
                    left: 20px;

                    >img {
                        top: 101px;
                        left: 95px;
                    }
                }
            }

            &:hover {
                .hover-Arrow {
                    animation: rotateArrowMobile 0.25s ease-in-out;
                    scale: 1;
                    rotate: 137deg;
                }

                .project-hover {
                    animation: slideTextMobile 0.35s ease-in-out;
                    opacity: 1;
                }

                >div {
                    >.border-hover {
                        left: 20px;

                        >img {
                            top: 101px;
                            left: 95px;
                        }
                    }
                }
            }
        }
    }

    main {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (hover: none) {
    .project {
        .border-hover {
            border: 4px solid $colorBlack;
            bottom: -20px;
            left: 20px;

            >img {
                top: 347px;
                right: 250px;
                rotate: 137deg;
            }
        }

        .project-hover {
            animation: none;
            opacity: 1;
        }

        img {
            opacity: 1;
            mix-blend-mode: unset;
        }

        .hover-Arrow {
            animation: none;
        }
    }

    .position-relative {
        >img {
            mix-blend-mode: unset;
        }
    }
}