<section class="padding">
    <h1 class="font-syne">{{ 'portfolio.headline' | translate }}</h1>
    <p class="font-overpass">
        {{ 'portfolio.sub-headline-1' | translate }} <br> 
        {{ 'portfolio.sub-headline-2' | translate }}
    </p>
    <main>
        @for (project of projects(); track project; let index = $index) {
            <section [ngClass]="{ 'reverse': index % 2 !== 0 }" style="width: 100%;" class="project padding">
                <div class="position-relative">
                    <div class="border-hover">
                        <img class="hover-Arrow" src="assets/icons/hover_arrow.png" alt="">
                    </div>
                    <img class="img-size" [src]="project.imgSrc" [alt]="project.projectName">
                </div>
                <div class="project-hover-position">
                    <div class="span-position">
                        <span class="font-syne">{{ index + 1 }}/{{ projectsLength() }}</span>
                    </div>
                    <div class="project-hover">
                        <h2 class="font-syne">{{ project.projectName }}</h2>
                        <h3 class="font-overpass">{{ project.skills }}</h3>
                        <p class="font-overpass">{{ project.description }}</p>
                        <a target="_blank" href="https://github.com/FlorianZunke">
                            <button>Github</button>
                        </a>
                        <a target="_blank" [href]="project.link">
                            <button>Live Test</button>
                        </a>
                    </div>
                </div>
            </section>
        }
    </main>
</section>