

<section class="padding">
    <h1 class="font-syne">{{ 'contact.headline' | translate }}</h1>
    <div>
        <h2>{{ 'contact.head-1' | translate }}</h2>
        <p>{{ 'contact.head-2' | translate }}</p>
        <form #contactform="ngForm">
            <div class="input-wrapper">
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    [placeholder]="getNamePlaceholder(name)" required>
                <img *ngIf="name.touched" [src]="name.valid ? 'assets/icons/valid.png' : 'assets/icons/error.png'" 
                    class="status-icon" alt="Status Icon">
            </div>

            <div class="input-wrapper">
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                    [placeholder]="getEmailPlaceholder(email)" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <img *ngIf="email.touched" [src]="email.valid ? 'assets/icons/valid.png' : 'assets/icons/error.png'"
                    class="status-icon" alt="Status Icon">
            </div>
            @if (!email.valid && email.touched && !email.disabled) {
                <span class="error-text">{{ "contact.error-text" | translate }} maxMustermann&#64;mail.com</span>
            }
        
            <div class="input-wrapper">
                <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message"
                    [placeholder]="getTextboxPlaceholder(message)" required></textarea>
                <img *ngIf="message.touched" [src]="message.valid ? 'assets/icons/valid.png' : 'assets/icons/error.png'"
                    class="status-icon" alt="Status Icon">
            </div>

            <div class="privacyPolice">
                <input [(ngModel)]="contactData.privacy" class="checkbox" type="checkbox" name="privacy" id="checkbox">
                <div>
                    <span class="font-overpass">{{ 'contact.text-1' | translate }}</span> <a class="font-overpass"
                        href="privacyPolice">{{ 'contact.link' | translate }}</a><span class="font-overpass"> {{
                        'contact.text-2' | translate }}</span>
                </div>
            </div>
            <div class="flex-center">
                <button (click)="onSubmit(contactform)" [disabled]="!contactform.valid || !contactData.privacy"
                [ngStyle]="{ 'opacity': contactform.valid && contactData.privacy ? '1' : '0.5' }">{{
                'contact.button' | translate }}</button>
            </div>
        </form>

        <div class="arrow-container">
            <a href="#"><img class="arrow-up" src="assets/icons/arrow-up.png" alt=""></a>
        </div>
    </div>
</section>
<app-footer></app-footer>