@import '../../assets/fonts/font.scss';
@import '../../styles.scss';

section {
    width: 100%;
    max-width: 1920px;
}

.valid-user-message {
    height: 200px;
    width: 80%;
    max-width: 1920px;
    z-index: 999;
    margin: auto;
    background-color: $colorBlack;
    border: 4px solid $colorGreen;
    border-radius: 20px;
    color: $colorGreen;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 150px;
}

p {
    font-size: clamp(1.125rem, 0.8049rem + 1.8293vw, 3rem);
    padding-left: 25px;
    padding-right: 25px;
}
