
<section class="padding">
    <div class="icon-container">
        <h1 class="font-syne">My skills</h1>
        <app-icons class="icon-wrapper"></app-icons>
        <div class="learning-container">
            <img src="assets/icons/Continued_learning.png" alt="">
            <span class="font-overpass"> Don't see the skill you need? <a href="">Contact me</a> I'm always ready to learn!</span>
        </div>
    </div>
</section>
<div class="arrow-position-container padding">
    <img src="assets/icons/Arrow_right.png" alt="">
</div>