@import './../../assets/fonts/font.scss';

h1 {
    font-size: 78px;
    font-weight: 800;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    color: $colorBlack;
    background-color: $colorCream;
    top: -55px;

    &:hover {
        color: $colorGreen;
    }
}

section {
    height: 687px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.icon-container {
    height: 633px;
    max-width: 1920px;
    width: 100%;
    border: 4px solid $colorBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    gap: 10px;

    >span {
        font-size: 22px;
        font-weight: 400;
        color: $colorBlack;

        >a {
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.icon-wrapper {
    display: grid;
    grid-template-areas:
        "skill skill skill skill skill"
        "skill skill skill skill skill";
    max-width: 1240px;
    width: 100%;
    row-gap: 78px;
    padding-top: 60px;
}

.arrow-position-container {
    display: flex;
    justify-content: flex-start;
}

.custom-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $colorGreen;
    font-size: 22px;
    font-weight: 400;
    padding: 5px 10px;
    gap: 3px;
}

.custom-link::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 40%;
    height: 3px;
    background-color: $colorGreen;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s ease;
}

.custom-link:hover::after {
    transform: scaleX(1);
}
