@import 'assets/fonts/font.scss';

* {
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    width: 100%;
    background-color: $colorCream;
}

.padding {
    padding-left: 100px;
    padding-right: 100px;
}

