@import './../../../assets/fonts/font.scss';


* {
    background-color: $colorBlack !important;
}

span {
    font-size: 22px;
    font-weight: 400;
}

section {
    height: 69px;
    width: 100%;
    padding-top: 36px;
    max-width: 1920px;
    background-color: $colorBlack;
    color: $colorCream;
    display: flex;
    justify-content: space-between;

    >div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >a {
            cursor: default;

            &:hover {
                cursor: default;
            }
        }
    }

    >div:nth-child(2) {
        display: flex;
        align-items: flex-end;
        gap: 42px;
    }
}

.legal-notice-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 13px;
}

a {
    text-decoration: none;
    color: $colorCream;

    &:hover {
        cursor: pointer;

        .link_img {
            cursor: pointer;
            animation: scaleUp 0.25s forwards;
            transform: translateY(-25px);
        }
    }
}

.custom-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $colorCream;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
    gap: 3px;

    &:hover {
        font-weight: bold;
        font-size: 18px;
        transform: translateX(15px);
    }
}

.custom-link::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 50%;
    height: 3px;
    background-color: $colorGreen;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s ease;
}

.custom-link:hover::after {
    transform: scaleX(1);

}

.logo {
    cursor: pointer;
    height: 65px;
    width: 75px;
}

@keyframes scaleUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@media screen and (min-width: 540px) and (max-width: 900px) {
    p {
        font-size: 20px;
    }

    a {
        font-size: 16px;
        font-weight: 400;
    }

    span {
        font-size: 19px;
        font-weight: 300;
    }
}

@media screen and (min-width: 280px) and (max-width: 540px) {
    p {
        font-size: 20px;
    }

    a {
        font-size: 16px;
        font-weight: 400;
    }

    span {
        font-size: 19px;
        font-weight: 300;
    }

    section {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 28px;

        >div:first-child {
            >a {
                display: flex;
                justify-content: center;
            }
        }

        >div:nth-child(2) {
            display: flex;
            align-items: flex-end;
            gap: 42px;
        }
    }

    .legal-notice-container {
        justify-content: center;
    }

    .custom-link {
        &:hover {
            font-weight: 500;
            font-size: 18px;
        }
    }
}