<section class="padding">
    <div>
        <img class="logo" src="assets/img/logo.png" alt="logo">
        <span class="font-overpass"> &copy;Florian Zunke 2024</span>
    </div>
    <div>
        <a target="_blank" href="https://github.com/FlorianZunke"><img src="assets/icons/GitHub-Default.png" alt=""></a>
        <a target="_blank" href=""><img src="assets/icons/Email-Default.png" alt=""></a>
        <a target="_blank" href="https://www.linkedin.com/feed/"><img src="assets/icons/LinkedIn-Default.png" alt=""></a>
    </div>
</section>
<div class="legal-notice-container padding">
    <a href="legalNotice">legal notice</a>
</div>