<section class="padding">
    <div>
        <a href="#"><img class="logo" src="assets/img/logo_white.png" alt="logo"></a>
        <span class="font-overpass"> &copy;Florian Zunke 2024</span>
    </div>
    <div>
        <a target="_blank" href="https://github.com/FlorianZunke"><img class="link_img" src="assets/icons/GitHub-Default.png" alt=""></a>
        <a target="_blank" href=""><img class="link_img" src="assets/icons/Email-Default.png" alt=""></a>
        <a target="_blank" href="https://www.linkedin.com/feed/"><img class="link_img" src="assets/icons/LinkedIn-Default.png" alt=""></a>
    </div>
</section>
<div class="legal-notice-container padding">
    <a class="custom-link" href="legalNotice">legal notice</a>
</div>